<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <nav id="link-container">
            <a id='images-link' href="/images">Images</a>
            <a id='advanced-link' href="/advanced">Advanced</a>
        </nav>
        <div id="search-container">
            <div id="google">Google</div>
            <form id="google-form" class="google-submit" action="https://google.com/search">
                <input id="search-box" type="text" name="q">
                <div class="button-container">
                    <input id="search-button" type="submit" value="Google Search">
                    <input id="lucky-button" type="button" value="I'm Feeling Lucky">
                </div>
            </form>
        </div>
        <script>
            document.getElementById("lucky-button").addEventListener("click", function() {
                var form = document.getElementById("google-form");
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "btnI";
                input.value = "I'm Feeling Lucky";
                form.appendChild(input);
                form.submit();
            });
        </script>
    </body>
</html>
