<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Images</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <nav id="link-container">
            <a id='index-link' href="/">Search</a>
            <a id='advanced-link' href="/advanced">Advanced</a>
        </nav>
        <div id="search-container">
            <div id="google">Google</div>
            <form class="google-submit" action="https://www.google.com/search">
                <input id="search-box" type="text" name="q">
                <input type="hidden" name="tbm" value="isch">
                <div class="button-container">
                    <input id="search-button" type="submit" value="Image Search">
                </div>
            </form>
        </div>
    </body>
</html>
